<!DOCTYPE html>
<html>
    <head>
        <title>Bingo</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="m-auto p-10 lg:w-2/3 md:w-full">
            <div class="grid justify-center text-center">
                <h1 class="text-xl">Bingo</h1>
                <h2 class="text-xl">One frontend to rule them all!</h2>
                <p>To use the service</p>
                <p>Use uri /(paste service)/id/(id)</p>
            </div>
        </div>
    </body>
</html>