<!DOCTYPE html>
<html>
    <head>
        <title>Bingo</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="m-auto p-10 lg:w-2/3 md:w-full">
            <div class="grid justify-center text-center">
                <h1 class="text-xl">Bingo</h1>
                <h2 class="text-xl">One frontend to rule them all!</h2>
        </div>
        <div class="flex justify-end">
            <div>
                <a href="/{{ .bin }}/raw/{{ .id }}">Raw</a>
                <a class="ml-2" href="/{{ .bin }}/dl/{{ .id }}">Download</a>
            </div>
        </div>
        <div class="py-4">
            <pre class="border-2"><code class="whitespace-pre-line">{{ .content }}</code></pre>
        </div>
    </div>
</body>
</html>